<section class="main-header">
  <img src="images-master/achieve.png">
</section>
<section class="about">

<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
<p><%= notice %></p>
<h1>ツイッター一覧</h1>
  <%= link_to "ツイッターを作成する", new_gen_path, class: 'btn btn-default' %>
<% @gens.each do |gen| %>
<div class="row">
  <p><%= gen.content %></p>
  <%= link_to "編集", edit_gen_path(gen.id), class: 'btn btn-default btn-sm btn-success' %>
  <%= link_to "削除", gen_path(gen.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
</div>
<% end %>
</div>
</div>